
body{
    background-color:hsl(30, 54%, 90%);
    font-family: "outfit",sans-serif;
    font-weight: 200;
    font-size: 15px;
    width: 100%;
    margin: 0;
    color: hsl(24, 5%, 18%);
}

.content{
    width: 60%;
    margin: 5px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;

}

.img{

    width: 95%;

}
.img img{
    width:100%;
    border-radius: 15px;
    margin: 15px;
}
.preparation{
    width: 90%;
    background-color:hsl(330, 100%, 98%); 
    margin: 15px;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
}
.preparation h4{
    color: hsl(332, 51%, 32%);
    font-size: 15px;
}

h2{
    font-family: "young serif",serif;
    width: 90%;
    margin: 15px;
}
.paragraph{
    width: 95%;
    margin: 15px;
    font-size: 15px;
}
.ingredients{
    width: 90%;
    margin: 15px;

}
h3{
    font-family: "young serif",serif;
    color: hsl(14, 45%, 36%);
}

li{
    color: hsl(14, 45%, 36%);
}

span{
    color: rgb(20, 19, 19);
}

.instructions{
    width: 90%;
    margin: 15px;
}
.nutrition{
    width: 90%;
    margin-left: 15px;
}

.nutri{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 15px;
}
.nutri p{
    width: 50%;
    text-align: left;
}

#quantity{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

hr{
    width: 95%;
}

.nutrition hr{
    width: 100%;
    padding-right: 5%;
}

@media(max-width:500px){
    
body{
    font-size: 16px;
}
    .content{
        width: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        background-color: hsl(0, 0%, 100%);
        margin-bottom: 0px;
        border-radius: 0px;
        
    
    }

    .img{

        width: 100%;
    
    }
    .img img{
        width:100%;
        margin: 0;
        border-radius: 0px;
    }

    .preparation{
        width: 87%;
    }
    h2{
        font-size: 150%;
        font-weight: 500;
    }

}